.container {
    justify-content: center;
    align-items: center;
    height:100vh;
    margin-top: 1%;
    

   
   
}
.main-header{
     color: rgb(237,67,67);
}



.save-button{
    justify-content: center;
    align-self: center;
    background-color: rgb(237,67,67);
    
}


/* .form-group{
    padding: 2%;
} */
/* @media (min-width: 1200px) {
    .container{
        max-width: 700px;
    }
} */