.container {
  
    justify-content: center;
    align-items: center;
    height:100vh;
    border: 2px solid black;
    margin-top: 1%;
    

   
   
}
.save-button{
    justify-content: center;
    align-self: center;
    
}

/* .form-group{
    padding: 2%;
} */
@media (min-width: 1200px) {
    .container{
        max-width: 700px;
    }
}