 .navbar
{
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    color:rgb(237,67,67);
    
    
}

.nav-tabs{
    
    padding: 1.5rem;
    color: black;
    font-weight: 500;
}

.nav-tabs:hover{
    color: rgb(237,67,67 );
    font-weight: 500;
} 
 
